<div class="w-full max-w-full px-3 mt-0 lg:flex-none">
  <div
    class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border"
  >
    <div
      class="p-6 pb-0 mb-0 bg-white border-b-0 border-solid border-black/50 rounded-t-2xl"
    >
      <h6>Users overview</h6>
      <p class="flex items-center text-sm leading-normal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 512 512"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="48"
            d="M112 244l144-144 144 144M256 120v292"
          />
        </svg>
        <span class="font-semibold">4% more</span> in 2021
      </p>
    </div>
    <div class="flex-auto p-4 mb-3 rounded red-gradient">
      <div>
        <canvas
          id="line-rounded-chart"
          style="
            display: block;
            box-sizing: border-box;
            min-height: 250px;
            max-height: 300px;
            width: 100%;
          "
          width="558"
        ></canvas>
      </div>
    </div>
  </div>
</div>
