<div class="flex w-full px-5 gap-x-5">
  <div
    class="bg-white border border-gray-50 lg:basis-1/2 lg:min-w-1/2 lg:w-1/2 min-h-[350px] rounded-lg shadow-md"
  >
    <div class="flex items-center justify-between w-full gap-3 px-5 py-3">
      <h5 class="text-lg font-semibold">Global progress</h5>
      <button class="flex items-center gap-1 cursor-pointer">
        <span class="p-[2px] bg-gray-300 rounded-bl-full"></span>
        <span class="p-[2px] bg-gray-300 rounded-bl-full"></span>
        <span class="p-[2px] bg-gray-300 rounded-bl-full"></span>
      </button>
    </div>
    <!-- Chart -->
    <app-bare-chart />
  </div>

  <div
    class="bg-white border border-gray-50 lg:basis-1/2 lg:min-w-1/2 lg:w-1/2 min-h-[350px] rounded-lg shadow-md"
  >
    <div class="p-5">
      <div class="flex items-center justify-between w-full gap-3 mb-1">
        <h5 class="text-lg font-semibold">Total Goals</h5>
        <button class="flex items-center gap-1 cursor-pointer">
          <span class="p-[2px] bg-gray-300 rounded-bl-full"></span>
          <span class="p-[2px] bg-gray-300 rounded-bl-full"></span>
          <span class="p-[2px] bg-gray-300 rounded-bl-full"></span>
        </button>
      </div>
      <div class="text-5xl font-bold text-gray-900">103</div>
    </div>
    <hr class="h-[2px] bg-gray-300" />
    <div class="p-5">
      <div class="flex flex-wrap gap-x-3">
        <div class="card-item">
          <div class="flex items-center justify-between">
            <h6 class="text-sm text-gray-400">Total User</h6>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 512 512"
            >
              <path
                d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M352 176L217.6 336 160 272"
              />
            </svg>
          </div>
          <p class="text-2xl font-bold text-gray-700">75</p>
        </div>

        <div class="card-item">
          <div class="flex items-center justify-between">
            <h6 class="text-sm text-gray-400">Online User</h6>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 512 512"
            >
              <path
                d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M352 176L217.6 336 160 272"
              />
            </svg>
          </div>
          <p class="text-2xl font-bold text-green-700">15</p>
        </div>

        <div class="card-item">
          <div class="flex items-center justify-between">
            <h6 class="text-sm text-gray-400">User Unverify</h6>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 512 512"
            >
              <path
                d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M352 176L217.6 336 160 272"
              />
            </svg>
          </div>
          <p class="text-2xl font-bold text-orange-700">15</p>
        </div>

        <div class="card-item">
          <div class="flex items-center justify-between">
            <h6 class="text-sm text-gray-400">User Closed</h6>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 512 512"
            >
              <path
                d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
                fill="none"
                stroke="currentColor"
                stroke-miterlimit="10"
                stroke-width="32"
              />
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
                d="M352 176L217.6 336 160 272"
              />
            </svg>
          </div>
          <p class="text-2xl font-bold text-gray-700">10</p>
        </div>
      </div>
    </div>
  </div>
</div>
