<div class="w-full max-w-full px-3 mt-0 lg:flex-none">
  <div
    class="border-black/12.5 relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border"
  >
    <div
      class="px-5 pb-0 mb-0 bg-white border-b-0 border-solid border-black/50 rounded-t-2xl"
    >
      <h6>{{ chartName }}</h6>
      <ng-content></ng-content>
    </div>
    <div [class]="'flex-auto px-3 pt-1 pb-3 rounded ' + bgChart">
      <div *ngIf="isTemplate; else notTemplate">
        <ng-content select="[canvas]"></ng-content>
      </div>

      <ng-template #notTemplate>
        <canvas [id]="chartId" [style]="chartStyle"></canvas>
      </ng-template>
    </div>
  </div>
</div>
